/ {
    clocks {
        compatible = "simple-bus";
        #address-cells = <0x1>;
        #size-cells = <0x0>;
        status = "okay";

        clk32k_in: clock {
            compatible = "fixed-clock";
            reg = <0x0>;
            #clock-cells = <0x0>;
            clock-frequency = <32768>;
            linux,phandle = <0x11>;
            phandle = <0x11>;
        };
    };
    
    tegra_car: clock@0,60006000 {
        compatible = "nvidia,tegra124-car";
        clocks = <&clk32k_in>;
        status = "okay";
    };
    
    timer@60005000 {
        compatible = "nvidia,tegra-nvtimer";
        reg = <0x0 0x60005000 0x0 0x400>;
        interrupts =   <0x0 0x0  0x4
                        0x0 0x1  0x4
                        0x0 0x29 0x4
                        0x0 0x2a 0x4
                        0x0 0x79 0x4
                        0x0 0x97 0x4
                        0x0 0x98 0x4
                        0x0 0x99 0x4
                        0x0 0x9a 0x4
                        0x0 0x9b 0x4
                        0x0 0x7a 0x4>;
        clocks = <&tegra_car 0x5>;
        status = "okay";
    };
    
    timer {
        compatible = "arm,armv7-timer";
        interrupts =   <0x1 0xd 0xf04
                        0x1 0xe 0xf04>;
    };
    
    dfll@70110000 {
        compatible = "nvidia,tegra124-dfll";
        reg = <0x0 0x70110000 0x0 0x400>;
        out-clock-name = "dfll_cpu";
        status = "okay";
        board-params = <0x15>;
        i2c-pmic-integration = <0x16>;
    };
    
    rtc1: rtc {
        compatible = "nvidia,tegra-rtc";
        reg = <0x0 0x7000e000 0x0 0x100>;
        interrupts = <0x0 0x2 0x4>;
        clocks = <&tegra_car 0x4>;
        status = "okay";
    };
    
    wdt0: watchdog@60005100 {
        compatible = "nvidia,tegra-wdt";
        reg = <0x0 0x60005100 0x0 0x20 0x0 0x60005070 0x0 0x8>;
        interrupts = <0 123 0x04>;
        nvidia,expiry-count = <4>;
        nvidia,enable-on-init;
        nvidia,heartbeat-init = <120>;
    };
};
