/dts-v1/;

#include "tegra124-tn8.dtsi"
#include "panel-a-wuxga-8-0.dtsi"
#include "tegra124-platforms/tegra124-tn8-emc-p1761-1270-a00.dtsi"
#include "tegra124-platforms/tegra124-tn8-power-tree-e1936-1000-a00.dtsi"
#include "tegra124-platforms/tegra124-tn8-sensor-p1761-1270-a03.dtsi"
#include "tegra124-platforms/tegra124-tn8-thermal-zone-p1761-1270-a00.dtsi"
#include "tegra124-platforms/tegra124-tn8-pinmux-p1761-1470-a00.dtsi"
#include "tegra124-platforms/tegra124-tn8-hdmi-p1761-1270-a03.dtsi"
#include "tegra124-platforms/tegra124-tn8-sysedp-p1761-1270-a02.dtsi"
#include "tegra124-platforms/tegra124-tn8-powermon-p1761-a02.dtsi"
#include "tegra124-platforms/tegra124-tn8-dfll-p1761-1270-a03.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/iio/meter/ina3221x.h>

/ {
	model = "NVIDIA SHIELD Tablet";
	compatible = "nvidia,st8", "nvidia,tegra124";

	aliases {
		rtc0 = "/i2c@0,7000d000/pmic@40";
		rtc1 = "/rtc@0,7000e000";
        display0 = &interneldc;
        display1 = &hdmi;
	};

	chosen {
		bootargs = "tegraid=40.0.0.00.00 console=tty1 gpt fbcon=rotate:2 video=tegrafb earlyprintk clk_ignore_unused";
		linux,initrd-start = <0x81680000>;
		linux,initrd-end = <0x82800000>;
        stdout-path = &framebuffer0;
	};
    
    framebuffer0: framebuffer@ad012000 {
        compatible = "simple-framebuffer";
        reg = <0x0 0xad012000 0x0 (1216 * 1920 * 4)>;
        width = <1200>;
        height = <1920>;
        stride = <(1216 * 4)>;
        format = "a8b8g8r8";
        display = <&interneldc>;
    };

	memory {
		reg = <0x0 0x80000000 0x0 0x2d000000
		       0x0 0xae000000 0x0 0x30000000>;
	};
    
    host1x@50000000 {
        /* tegradc.0 */
        dc0: dc@54200000 {
            status = "okay";
            nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
            nvidia,emc-clk-rate = <204000000>;
            nvidia,cmu-enable = <1>;
            nvidia,low-v-win = <0x2>;
            nvidia,fb-bpp = <32>; /* bits per pixel */
            nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
        };
        /* tegradc.1 */
        dc1: dc@54240000 {
            status = "okay";
            nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
            nvidia,emc-clk-rate = <300000000>;
            nvidia,fb-bpp = <32>; /* bits per pixel */
            nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
        };
        
        hdmi: hdmi@54280000 {
            status = "okay";
        
            nvidia,ddc-i2c-bus = <&hdmi_ddc>;
            nvidia,hpd-gpio =
            <&gpio TEGRA_GPIO(N, 7) GPIO_ACTIVE_HIGH>;
        };
        
        interneldc: dsi@54300000 {
            status = "okay";
            panel-a-wuxga-8-0@0 {
                nvidia,dsi-dpd-pads = <DSIC_DPD_EN DSID_DPD_EN>;
                nvidia,dsi-boardinfo = <1761 0 0 1>;
                nvidia,panel-rst-gpio = <&gpio TEGRA_GPIO(N, 4) 0>; /* PN4 */
                nvidia,panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(H, 1) 0>; /* PH1 */
                disp-default-out {
                    nvidia,out-rotation = <180>;
                };
            };
        };
    };

    i2c@7000c400 {
        battery-gauge@0b {
            onsemi,kernel-threshold-soc = <2>;
            onsemi,kernel-maximum-soc = <100>;
            io-channels = <&ina3221x INA3221_CHAN_INDEX(0, CURRENT, NORMAL)>;
            io-channel-names = "battery-current";
            dt-override-status-odm-data = <0x00C00000 0x00400000>;
        };
        
        battery-charger@6b {
            charger {
                ti,charge-voltage-limit-millivolt = <4352>;
                ti,temp-range = <10 15 25 45 60>;
                ti,charge-thermal-voltage-limit = <4352 4352 4352 4352 4200>;
                ti,charge-current-limit = <1040 1040 2600 5200 2600>;
                ti,soc-range = <94 100>;
                ti,input-voltage-soc-limit = <4680 4760>;
                ti,charge-term-current-limit-milliamp = <1>;
                dt-override-status-odm-data = <0x00C00000 0x00400000>;
            };
        };
    };
    
    sdhci@700b0600 {
        compatible = "nvidia,tegra124-sdhci";
        reg = <0x0 0x700b0600 0x0 0x200>;
        interrupts = < 0 31 0x04 >;
        iommus = <&mc TEGRA_SWGROUP_SDMMC4A>;
        status = "okay";
    };
    sdhci@700b0400 {
        compatible = "nvidia,tegra124-sdhci";
        reg = <0x0 0x700b0400 0x0 0x200>;
        interrupts = < 0 19 0x04 >;
        iommus = <&mc TEGRA_SWGROUP_SDMMC3A>;
        status = "okay";
    };
    sdhci@700b0200 {
        compatible = "nvidia,tegra124-sdhci";
        reg = <0x0 0x700b0200 0x0 0x200>;
        interrupts = < 0 15 0x04 >;
        iommus = <&mc TEGRA_SWGROUP_SDMMC2A>;
        status = "okay";
    };
    sdhci@700b0000 {
        compatible = "nvidia,tegra124-sdhci";
        reg = <0x0 0x700b0000 0x0 0x200>;
        interrupts = < 0 14 0x04 >;
        iommus = <&mc TEGRA_SWGROUP_SDMMC1A>;
        status = "okay";
    };
    
    /* HDMI DDC */
    hdmi_ddc: i2c@7000c700 {
        status = "okay";
        clock-frequency = <100000>;
    };
    
    i2c@7000d000 {
        palmas: tps65913 {
            gpadc {
                ti,auto-conversion-period-ms = <500>;
                auto_conv0 {
                    ti,adc-channel-number = <3>;
                    ti,adc-low-threshold = <1980>;
                    ti,enable-shutdown;
                };
            };
        
            pmic {
                regulators {
                    ldo3 {
                        regulator-min-microvolt = <3300000>;
                        regulator-max-microvolt = <3300000>;
                        regulator-enable-ramp-delay = <3000>;
                        ti,disable-pull-down;
                    };
                };
            };
        };
    };

    usb-devices {
        maxim-charger {
            compatible = "maxim,max14675";
            maxim,max-board-vbus-voltage-uv = <16000000>;
        };
    };
    
    sysedp_batmon_calc {
        status = "okay";
    };
    
    regulators {
        regulator@8  {
            vin-supply = <&ldo3_reg>;
            regulator-disable-parent-after-enable;
        };
    };
    
    serial@70006000 {
        compatible = "nvidia,tegra20-uart";
        console-port;
    };
};


